eval `xrdb -merge ~/.Xresources`

mate-power-manager &
nm-applet &
insync start &
urxvtd &
syndaemon -t -k -i 2 -d &
redshift -l 40.2697:76.8756 -t 5500:2700 -b 1.0:0.7 &
mpd ~/.config/mpd/mpd.conf &

eval `gnome-keyring-daemon`
